{% extends 'ux.html.twig' %}

{% block body %}

    <main id="main">
        <turbo-frame id="main_turbo" data-turbo-action="advance" data-turbo-frame="_self">
            <!-- ======= Breadcrumbs ======= -->
            <section class="breadcrumbs tech-item-bg">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2></h2>
                        <ol>
                            <li>
                                <a href="{{ path("ux_index") }}">Home</a>
                            </li>
                            <li>
                                <a href="{{ path("ux_stack", {'stack': app.request.get('stack')}) }}"> {{ app.request.get('stack') }}</a>
                            </li>
                            <li>{{ app.request.get('app') }}</li>
                        </ol>
                    </div>

                </div>
            </section><!-- End Breadcrumbs -->
            <!-- ======= Portfolio Section ======= -->
            <section id="pricing" class="pricing pricing-offset section-bg">
                <div class="container">

                    <div class="section-title" data-aos="fade-up">
                        <h2>{{ app.request.get('app') }} tools</h2>
                    </div>

                    <div class="row">
                        {% for item in stack %}
                            <div class="col-lg-3 col-md-3 mb-5">
                                <div class="tech-item box" data-aos="zoom-in" data-aos-delay="100">
                                    <h2 class="my-3">{{ item.name }}</h2>
                                    <img src="{{ asset('build/img/techs/' ~ item.img) }}" alt="{{ item.name }}-logo"
                                         class="mb-5">
                                    <div class="d-block my-2 tool-description">
                                        {{ item.description }}
                                    </div>
                                    <div class="btn-wrap pt-5">
                                        <a href="{{ item.url }}" target="_blank" class="btn-buy">Check</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section><!-- End Portfolio Section -->
        </turbo-frame>
    </main>

{% endblock %}