{% extends 'admin.html.twig' %}

{% block title %}Application index{% endblock %}
{% block header %}Applications list{% endblock %}
{% block body %}
    <div class="row">
        <div class="card pb-5">
            <div class="card-header">
                <div class="row">
                    <div class="col-xl-11">
                    </div>
                    <div class="col-xl-1 text-end">
                        <a href="{{ path('admin_crud_application_new') }}">
                            <button type="button" class="btn btn-primary">new</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Apps</th>
                        <th>Slug</th>
                        <th>Img</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for application in applications %}
                        <tr>
                            <td>{{ application.id }}</td>
                            <td>{{ application.name }}</td>
                            <td>{{ application.lang }}</td>
                            <td>{{ application.slug }}</td>
                            <td><img class="img-preview"
                                     src="https://cdn.salwa.com.pl/{{ application.img }}"/> {{ application.img }}</td>
                            <td class="text-end">
                                <a href="{{ path('admin_crud_application_show', {'id': application.id}) }}">
                                    <button type="button" class="btn btn-primary">show</button>
                                </a>

                                <a href="{{ path('admin_crud_application_edit', {'id': application.id}) }}">
                                    <button type="button" class="btn btn-info">edit</button>
                                </a>
                                <a href="{{ path('admin_crud_application_delete', {'id': application.id}) }}">
                                    <button type="button" class="btn btn-danger">delete</button>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
