<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RS Apps{% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token('turbo') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('ux') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('ux') }}
    {% endblock %}
</head>
<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="500">
<header id="header" class="header-scrolled">
    <div class="container-fluid">
        <div id="logo" class="pull-left">
            <h1><a href="{{ path("app_index") }}" class="scrollto">Symfony UX</a></h1>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                <li class="menu-active"><a href="{{ path("ux_index") }}">Home</a></li>
                <li><a href="{{ path('ux_stack_search') }}">Stacks Search</a></li>
                <li><a href="{{ path('ux_contact') }}">Contact</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header>

{% block body %}{% endblock %}

</body>
</html>
